.sold-tvs-container {
    border: 1px solid seagreen;
    color: seagreen;
}

.original-stock-container {
    border: 1px solid steelblue;
    color: steelblue;
}

.to-sell-container {
    border: 1px solid indianred;
    color: indianred;
}
