.outer-container.api {
    display: flex;

}
.sold-tvs-container {
    border: 1px solid seagreen;
    color: seagreen;
}

.original-stock-container {
    border: 1px solid steelblue;
    color: steelblue;
}

.to-sell-container {
    border: 1px solid indianred;
    color: indianred;
}

.outer-container-productcard {
    display: flex;
    border: 1px dashed black;
    margin: 20px 0;
}

.samsung-crystal-img {
    width: 100%;
    max-width: 250px;
    margin: 30px;
}

.product-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tv-options {
    display: flex;
}

.icon {
    max-width: 20px;
    margin: 10px;
}